body{

font-family: Arial;
margin:0;
background:#fafafa;

}


nav{

display:flex;
justify-content:space-between;
padding:20px;
background:#111;
color:white;

}


nav ul{

display:flex;
list-style:none;

}


nav ul li{

margin-left:20px;

}


.hero{

height:80vh;
background:url('/static/images/restaurant.jpg') center/cover;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

color:white;

}


.btn{

background:red;
padding:12px 25px;
color:white;
text-decoration:none;
margin-top:20px;

transition:0.3s;

}

.btn:hover{

background:rgb(220, 24, 24);

}


.menu-container{

display:flex;
gap:20px;
padding:30px;

}


.menu-card{

background:white;
padding:20px;
border-radius:10px;

transition:0.3s;

}


.menu-card:hover{

transform:scale(1.05);

box-shadow:0 10px 30px rgba(0,0,0,0.2);

}


.gallery-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;

}

.gallery-grid img{

width:100%;

border-radius:10px;

}


form{

display:flex;
flex-direction:column;
width:300px;
margin:40px auto;

}


input,button{

padding:10px;
margin:10px;

}